<h1>Productos en tiempo real</h1>

<form id="form">
  <input type="text" id="title" placeholder="Nombre" required />
  <input type="number" id="price" placeholder="Precio" required />
  <button>Agregar</button>
</form>

<ul id="list"></ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>